<h2>Add a Prospect </h2>
<form name = "createForm" novalidate>
    <div class = "container" id = "form-container">
        <p>
            <span style = "font-size: 9pt;"> All fields marked with an
                <img src = "../images/required.gif" alt = "asterisk" class = "required-star"> are required.
            </span>
        </p>
        <div class = "form-group" ng-class = "{ 'has-error' : createForm.prospectName.$invalid && submitted }">
            <label for = "prospectName"> Prospect Name:
                <img src = "../images/required.gif" alt = "Required" class = "required-star">
                <em class = "error">
                    <span class = "error" ng-show = "createForm.prospectName.$invalid && submitted"> Must not be blank.
                    </span>
                </em>
            </label>

            <input type = "text" id = "prospectName" name = "prospectName" ng-model = "prospectName" class = "form-control" required>
        </div>
        <div class = "form-group" ng-class = "{ 'has-error' : createForm.date.$invalid && submitted }">
            <label for = "date"> Creation Date:
                <img src = "../images/required.gif" alt = "Required" class = "required-star">
                <em class = "error">
                    <span class = "error" ng-show = "createForm.date.$invalid && submitted"> Must not be blank.
                    </span>
                </em>
            </label>

            <input type = "date" id = "date" name = "date" ng-model = "date" class = "form-control" max = "{{ maxDate | date: 'yyyy-MM-dd'}}" required>
        </div>
        <div class = "form-group" ng-class = "{ 'has-error' : createForm.techStack.$invalid && submitted }">
            <label for = "techStack"> Tech Stack:
                <img src = "../images/required.gif" alt = "Required" class = "required-star">
                <em class = "error">
                    <span class = "error" ng-show = "createForm.techStack.$invalid && submitted"> Must not be blank.
                    </span>
                </em>
            </label>

            <input type = "text" id = "techStack" name = "techStack" ng-model = "techStack" placeholder = "e.g: C++, JavaScript, iOS"
                   class = "form-control" required>
        </div>
        <div class = "form-group" ng-class = "{ 'has-error' : createForm.domain.$invalid && submittted }">
            <label for = "domain"> Domain:
                <img src = "../images/required.gif" alt = "Required" class = "required-star">
                <em class = "error">
                    <span class = "error" ng-show = "createForm.domain.$invalid && submitted"> Must not be blank.
                    </span>
                </em>
            </label>

            <input type = "text" id = "domain" name = "domain" ng-model = "domain" placeholder = "e.g: Education, Finance"
                   class = "form-control" required>
        </div>
        <div class = "form-group" ng-class = "{ 'has-error' : createForm.teamSize.$invalid && submittted }">
            <label for = "teamSize"> Probable Team Size:
                <img src = "../images/required.gif" alt = "Required" class = "required-star">
                <em class = "error">
                    <span class = "error" ng-show = "createForm.teamSize.$invalid && submitted"> Must not be blank.
                    </span>
                </em>
            </label>

            <input type = "number" id = "teamSize" name = "teamSize" ng-model = "teamSize" class = "form-control" min="0" required>
        </div>
        <div class = "form-group">
            <label for = "notes"> Notes:</label>
            <textarea id = "notes" name = "notes" ng-model = "notes" class = "form-control"></textarea>
        </div>
        <div class = "form-group">
            <input type="button" id="cancel-button" value="Cancel" class="col-sm-2 btn btn-primary" ng-click="go('prospects')">
            <button type="button" class="col-sm-2 btn btn-primary" ng-click="addProspect()" style="margin-left:10px;"> Add </button>
        </div>
    </div>
    <div class="form-group">
    </div>
</form>
