<h2> Add a Prospect </h2>
<form name = "createForm" novalidate>
  <p> <font size = '2'>All fields marked with an <img src = "../images/required.gif"
    alt = "asterisk" class = "required-star"> are required. </font></p>
  <div class = "form-group" ng-class = "{ 'has-error' :
    createForm.prospectName.$invalid && submitted }">
    <label for = "prospectName"> Prospect Name:
      <img src = "../images/required.gif" alt = "Required"
        class = "required-star">
      <em class = "error">
        <span class = "error" ng-show = "createForm.prospectName.$invalid &&
          submitted"> Must not be blank. </span>
      </em>
    </label>

    <input type = "text" id = "prospectName" name = "prospectName"
      ng-model = "prospectName" class = "form-control" required>
  </div>
  <div class = "form-group" ng-class = "{ 'has-error' : createForm.date.$invalid
    && submitted }">
    <label for = "date"> Date:
      <img src = "../images/required.gif" alt = "Required"
          class = "required-star">
      <em class = "error">
        <span class = "error" ng-show = "createForm.date.$invalid &&
          submitted"> Must not be blank. </span>
      </em>
    </label>

    <input type = "date" id = "date" name = "date" ng-model = "date"
      class = "form-control" required>
  </div>
  <div class = "form-group" ng-class = "{ 'has-error' :
      createForm.techStack.$invalid && submitted }">
    <label for = "techStack"> Tech Stack:
      <img src = "../images/required.gif" alt = "Required"
          class = "required-star">
      <em class = "error">
        <span class = "error" ng-show = "createForm.techStack.$invalid &&
          submitted"> Must not be blank. </span>
      </em>
    </label>

    <input type = "text" id = "techStack" name = "techStack"
      ng-model = "techStack" placeholder = "e.g: C++, JavaScript, iOS"
      class = "form-control" required>
  </div>
  <div class = "form-group" ng-class = "{ 'has-error' :
      createForm.domain.$invalid && submittted }">
    <label for = "domain"> Domain:
      <img src = "../images/required.gif" alt = "Required" class =
        "required-star">
      <em class = "error">
        <span class = "error" ng-show = "createForm.domain.$invalid &&
          submitted"> Must not be blank. </span>
      </em>
    </label>

    <input type = "text" id = "domain" name = "domain" ng-model = "domain"
      placeholder = "e.g: Education, Finance" class = "form-control" required>
  </div>
  <div class = "form-group" ng-class = "{ 'has-error' :
      createForm.teamSize.$invalid && submittted }">
    <label for = "teamSize"> Team Size:
      <img src = "../images/required.gif" alt = "Required" class =
        "required-star">
      <em class = "error">
        <span class = "error" ng-show = "createForm.teamSize.$invalid &&
          submitted"> Must not be blank. </span>
      </em>
    </label>

    <input type = "number" id = "teamSize" name = "teamSize"
      ng-model = "teamSize" class = "form-control" required>
  </div>

  <div class = "form-group">
    <label for = "notes"> Notes:
    </label>

    <textarea id = "notes" name = "notes" ng-model = "notes" class =
      "form-control"></textarea>
  </div>
  <div class="form-group">
    <input type="button" value="Cancel" class="btn btn-primary"
      ng-click="go('prospects')">

    <!--  <button type="button" - stops form submission on general keyboard enter key -->
    <button type="button" class="btn btn-primary"
      ng-click="addProspect()"> Add </button>
  </div>
</form>
