<section>
    <span id="pageTitle"> Convert Prospect to Client</span>
    <form name = "addclient" novalidate ng-submit="submitMyForm()">
        <div class="container" id = "form-container">

            <div class = "form-group" ng-class="{ 'has-error' : addclient.prospectName.$invalid && !addclient.prospectName.$pristine }">
                <label for = "prospectName"> Prospect Name:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <input type = "text" ng-model = "prospect.Name" id = "prospectName" name = "prospectName"
                       class = "form-control" required>
                <p ng-show = "addclient.prospectName.$invalid && !addclient.prospectName.$pristine" class="help-block">Prospect Name is required.</p>
            </div>
            <div class = "form-group">
                <label for = "date"> Project Start Date:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <input type = "date" id = "date" name = "date" ng-model = "StartDate"
                       class = "form-control" required>
            </div>
            <div class = "form-group">
                <label for = "Head"> BU:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <select id="Head" class="form-control" ng-model = "Head"
                        ng-options="BUHead.value as BUHead.name for BUHead in BUHead">
                </select>
            </div>

            <div class = "form-group" ng-class="{ 'has-error' : addclient.teamSize.$invalid && !addclient.teamSize.$pristine }">
                <label for = "teamSize"> Actual Team Size:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <input type = "number" id = "teamSize" name = "teamSize" ng-model = "TeamSize" class = "form-control"
                       min="0" required>
                <p ng-show = "addclient.teamSize.$invalid && !addclient.teamSize.$pristine" class="help-block">Actual Team Size required.</p>

            </div>
            <div class = "form-group">
                <label for = "notes"> Client Notes: </label>
                <textarea id = "notes" name = "notes" ng-model = "notes" class = "form-control">
                    </textarea>
            </div>
            <p>
            <span style = "font-size: 9pt;"> All fields marked with an
                <img src = "images/required.gif" alt = "asterisk" class = "required-star"> are required.
            </span>
            </p>
            <div class = "form-group">
                <input type="button" id="cancel-button" value="Cancel" class="col-sm-2 btn btn-primary"
                       ng-click="go('prospects')">
                <button type="button" class="col-sm-2 btn btn-primary" ng-click="addToClient()"
                        style="margin-left:10px;" ng-disabled="addclient.$invalid"> Save </button>
            </div>
        </div>
        <div class="form-group">
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content" style="width: 20% !important;">
                        <div class="modal-body">
                            <div style="text-align: center">Prospect converted to client. </div>
                            <br>
                            <button ng-click="goBack()" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 40%">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
