<!--
<section id="page-sub-header">
    <a ng-href="#/viewclientDiscussion" class="col-sm-2  btn btn-primary pull-right" id="editProspect"> Back </a>
</section>

<section>
    <span id="pageTitle">Discussions</span>
    <div class="container" id = "form-container">

        <div class="list-group" style="margin-top: 3%">
            <li class="list-group-item" >
                <span class="label label-default label-pill pull-xs-right ">{{discussion.UserID}}</span> <br>
                <pre style="font-family: helvetica;font-size: 14px;">{{discussion.Query}}</pre>
            </li>
            <ul class="list-group-item" ng-repeat = "answer in answers">
                <li class="list-group-item" style="text-align:right">
                    <span class="label label-default label-pill pull-xs-right ">{{answer.UserID}}</span> <br>
                    <pre style="font-family: helvetica;font-size: 14px;">{{answer.AnswerStr}}</pre>
                </li>
            </ul>

        </div>
    </div>
</section>
-->

