
<section>
    <span id="pageTitle"> Update Prospect </span>
    <form name = "editForm" novalidate ng-submit="submitMyForm()">
        <div ng-show="!editProspectNotes" class="container" style="background-color:whitesmoke" id = "form-container">

            <div class = "form-group" ng-class="{ 'has-error' : editForm.prospectName.$invalid && !editForm.prospectName.$pristine }">
                <label for = "prospectName"> Prospect Name:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <input type = "text" ng-model = "prospect.Name" id = "prospectName" name = "prospectName"
                       class = "form-control" required>
                <p ng-show="editForm.prospectName.$invalid && !editForm.prospectName.$pristine" class="help-block">Prospect Name is required.</p>
            </div>
            <div class = "form-group">
                <label for = "date"> Creation Date:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <input type = "date" ng-model = "prospect.CreateDate" id = "date" name = "date" class = "form-control"
                       max = "{{maxDate | date: 'yyyy-MM-dd'}}" disabled>
                <!--<input type = "date" ng-model = "creationDate"-->
                <!--ng-init = "creationDate = setCreateDate(prospect.CreateDate)" id = "date" name = "date" class = "form-control"-->
                <!--max = "{{maxDate | date: 'yyyy-MM-dd'}}" disabled required>-->
            </div>
            <!--<div class = "form-group">
                <label for = "date"> Creation Date:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <input type = "date" ng-model = "creationDate"
                       ng-model-options = "creationDate = setCreateDate(prospect.CreateDate)" id = "date" name = "date" class = "form-control"
                       max = "{{maxDate | date: 'yyyy-MM-dd'}}" >
            </div>-->
            <div class = "form-group">
                <label for = "techStack"> Tech Stack: </label>

                <input type = "text" ng-model = "prospect.TechStack" id = "techStack" name = "techStack"
                       placeholder = "e.g: C++, JavaScript, iOS" class = "form-control" >
            </div>
            <div class = "form-group">
                <label for = "domain"> Domain: </label>

                <input type = "text" ng-model = "prospect.Domain" id = "domain" name = "domain"
                       placeholder = "e.g: Education, Finance" class = "form-control">
            </div>
            <div class = "form-group">
                <label for = "teamSize"> Probable Team Size: </label>

                <input type = "number" ng-model = "prospect.DesiredTeamSize" id = "teamSize" name = "teamSize"
                       class = "form-control" min="0" >
            </div>
            <p>
                <span style = "font-size: 9pt;"> All fields marked with an
                    <img src = "images/required.gif" alt = "asterisk" class = "required-star"> are required.
                </span>
            </p>
            <div class = "form-group">
                <input type="button" id="cancel-button" value="Cancel" class="col-sm-2 btn btn-primary"
                       ng-click="go('prospects')">
                <button type="button" class="col-sm-2 btn btn-primary" ng-click="editProspectNote()"
                        style="margin-left:10px;" ng-disabled="editForm.$invalid"> Next </button>
            </div>
        </div>
    </form>
    <form name = "editFormNotes" novalidate ng-submit="submitMyForm()">
        <div ng-show="editProspectNotes" class="container" style="background-color:whitesmoke" id = "notes-container">

            <div class = "form-group">
                <label for = "notes"> Notes for Prospect {{nameOfProspect}}</label>
                <pre style="font-family: helvetica;font-size: 14px;text-align: left;padding: 0px 0px 0px 0px;border: none;margin-top: -4%;margin-bottom: -8% ">
                    <textarea  rows="20" ng-model = "prospect.ProspectNotes" id = "notes" name = "notes"class = "form-control">
                    </textarea>
                </pre>
            </div>

            <div class = "form-group">
                <input type="button" id="notesBack-button" value="Back" class="col-sm-2 btn btn-primary"
                       ng-click="goEditForm()">
                <button type="button" class="col-sm-2 btn btn-primary" ng-click="editProspect()"
                       style="margin-left:10px;"> Save </button>
            </div>
        </div>
        <div class="form-group"></div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content" style="width: 20% !important;">
                        <div class="modal-body">
                            <div style="text-align: center">Prospect updated. </div>
                            <br>
                            <button ng-click="goBack()" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 40%">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<!--

<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
    <label>Name</label>
    <input type="text" name="name" class="form-control" ng-model="user.name" required>
    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
</div>




<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>-->
