<section>
    <span id="pageTitle"> Notifications </span>
    <form name = "notifications" novalidate ng-submit="submitMyForm()">
        <div class="container" style = "background-color:whitesmoke; width: 33.5%;" id = "form-container2" >
            <div class = "form-group" style = "margin-top:1%;">
                <label> Send me a notification emails for: </label>
                <div>
                    <input type = "radio" name = "SelectOne" value="everyProspect" > Every prospect<br>
                    <input type = "radio" name = "SelectOne" value="starredProspect" checked> Only relevant prospects<br>
                </div>
            </div>
            <div class = "form-group">
                <label> Notify me for: </label>
                <div>
                    <input type = "checkbox" checked disabled readonly> Prospect created <br>
                    <input type = "checkbox" checked > Prospect updated <br>
                    <input type = "checkbox" checked > Question posted <br>
                    <input type = "checkbox" checked > Question answered <br>
                    <input type = "checkbox" checked > Someone volunteered <br>
                    <input type = "checkbox" checked > Call scheduled <br>
                    <input type = "checkbox" checked > Prospect went dead <br>
                    <input type = "checkbox" checked > Prospect converted to client <br>
                </div>
            </div>
            <p>
            <span style = "font-size: 85%;">
                Notification emails will be sent to you as per the configuration you have selected above
            </span>
            </p>
            <div class = "form-group">
                <input type = "button" id = "cancel-button" value = "Cancel" class = "col-sm-3 btn btn-primary"
                       ng-click = "go('viewProspects')">
                <button type = "submit" class = "col-sm-3 btn btn-primary"
                        style = "margin-left:3%;"> Save </button>
            </div>
        </div>
    </form>
</section>
