<section id="page-sub-header">
    <a ng-href="" class="col-sm-2 btn btn-primary pull-right" ng-click="goBack()">Back </a>
</section>
<section>
    <span id="pageTitle"> Scheduled Call for Prospect '{{prospect.Name}}' </span>
        <div class="container" style="background-color:whitesmoke;width: 65%" id = "form-container1" >
            <div class = "form-group">
                <table class = "table table-striped table-hover" style="background-color:whitesmoke">
                    <thead>
                    <th> Type of call </th>
                    <th> Datetime </th>
                    <th style="width: 23%"> Google Calendar link </th>
                    </thead>
                    <tbody ng-show = " !noPreviousCalls ">
                    <tr ng-repeat = "previousCall in previousCalls">
                        <td> {{ previousCall.ConfType }} </td>
                        <td> {{ previousCall.ConfDateStart }} </td>
                        <td> <a href = " {{ previousCall.GoogleCalenderLink }} " target = " _blank " > Click here </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-show = " noPreviousCalls ">
                    <tr>
                        <td> No Previous Calls to Show</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class = "form-group">
                <input ng-show = " !noPreviousCalls " type="button" id="cancel-button" value="Schedule another call" class="col-sm-3 btn btn-primary" ng-click="scheduleCall()" >
                <input ng-show = " noPreviousCalls " type="button"   value="Schedule call" class="col-sm-3 btn btn-primary" ng-click="scheduleCall()"  style="margin-bottom: 2%;" >
            </div>
        </div>
</section>