<section>
    <span id="pageTitle"> Schedule Call </span>
    <form name = "scheduleCallForm" novalidate ng-submit="submitMyForm()">
        <div class="container" style="background-color:whitesmoke;width: 65%" id = "form-container1" >
            <div class = "dropdown form-group" >
                <label for = "call"> Type of Call:
                </label>

                <select id="call" class="form-control" ng-model="call" ng-options="typeOfCall.value as typeOfCall.name for typeOfCall in typeOfCall">
                </select>
            </div>
            <div class = "form-group" ng-class="{ 'has-error' : scheduleCallForm.fromTime.$invalid && !scheduleCallForm.fromTime.$pristine }">
                <label for = "fromTime"> From Time:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <div class='input-group date' id='fromTime'  >
                    <input type='text' class="form-control" name="fromTime" ng-model = "fromTime" required />
					<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
					</span>
                </div>
                <p ng-show="scheduleCallForm.fromTime.$invalid && !scheduleCallForm.fromTime.$pristine" class="help-block">From Time is required.</p>
            </div>

            <div class = "form-group">
                <label for = "toTime"> To Time:
                    <img src = "images/required.gif" alt = "Required" class = "required-star">
                </label>

                <div class='input-group date' id ='toTime'  >
                    <input type = 'text' class = "form-control" name = "toTime" ng-model = "toTime"/>
					<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
					</span>
                </div>
            </div>
            <div class = "form-group">
                <table class = "table table-striped table-hover" style="background-color:whitesmoke">
                    <thead>
                    <th> Action </th>
                    <th> Volunteer Name </th>
                    <th> Role </th>
                    <th style = "width: 20%"> Availability Date </th>
                    <th> Notes </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "participant in participants">
                            <td>
                                <input type = "checkbox" ng-model = "included"
                                    ng-change = "checkState(included, participant)" ng-init = "included = true" ng-model="participants.checked" ng-click="countCheck(participants)">
                            </td>
                            <td> {{ participant.volunteerName }} </td>
                            <td> {{ participant.ParticipationRole }} </td>
                            <td> {{ participant.AvailableDate | date: "dd-MMM-yyyy" }} </td>
                            <td  class = "dropdown" ng-controller = "ScheduleCallCtrl" disabled style = "word-wrap: break-word">
                                <span class = "dropdown-toggle" data-toggle = "dropdown" style = "word-wrap: break-word">
                                    {{ participant.Notes | limitTo: 200 }} {{participant.Notes.length < 200 ? '' : '...'}}
                                </span>
                                <ul ng-show = "participant.flag" class = "dropdown-menu" style="width: 175%;padding: 0px 0px 0px 0px; margin-top: -10%;background: white;margin-left: 30%">
                                    <pre  style="font-family: helvetica;font-size: 14px;display: block;line-height: 20px;
                                    background: white;margin: 0%;word-break: keep-all !important;border: none;">{{ participant.Notes }}
                                    </pre>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
                <span style = "font-size: 9pt;"> All fields marked with an
                    <img src = "images/required.gif" alt = "asterisk" class = "required-star"> are required.
                </span>
            </p>
            <div class = "form-group">
                <input type="button" id="cancel-button" value="Cancel" class="col-sm-2 btn btn-primary" ng-click="go('viewProspects')">
                <button type="button" id="save" class="col-sm-2 btn btn-primary" ng-click="scheduleCall()" style="margin-left:10px;" ng-disabled="scheduleCallForm.$invalid"> Save </button>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content" style="width: 20% !important;">
                            <div class="modal-body">
                                <div style="text-align: center">Call scheduled. Click
                                    <span id="message" style = "font-size: 100%;"></span> to see it in Google Calendar.
                                </div>
                                <br>
                                <button ng-click="goBack()" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 40%" >OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content" style="width: 20% !important;">
                            <div class="modal-body">
                                <div style="text-align: center">No Volunteer to schedule Call.
                                </div>
                                <br>
                                <button ng-click="goBack()" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 40%" >OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content" style="width: 20% !important;">
                            <div class="modal-body">
                                <div style="text-align: center">Select atleast 1 Volunteer and Try again.
                                </div>
                                <br>
                                <button ng-click="goBackToScheduleCall()" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 40%" >OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>
</section>

