 <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 </head>


<section id="page-sub-header">
    <a ng-href="" data-toggle="modal" ng-click="#myModal" data-target="#myModal" class="col-sm-2 btn btn-primary pull-right" id="addDiscussion" style="margin-left:10px;"> Ask a question </a>
    <a ng-href="#/prospects" class="col-sm-2  btn btn-primary pull-right" id="editProspect"> Back </a>
</section>

<section>
    <span id="pageTitle">Discussions for Prospect {{prospect.Name }}</span>
    <div class="container" id = "form-container">


        <div class="list-group" ng-repeat = "discussion in discussions" style="margin-top: 3%">

            <a href="#/prospectDiscussion" ng-click="showDiscussion(discussion)" class="list-group-item" >
                <span class="label label-default label-pill pull-xs-right">{{discussion.UserID}}</span> <br>
                {{ discussion.Query }}
            </a>

            <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" ng-click="#myModal" data-target="#myModal">Open Modal</button>-->
        </div>



    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ask a Question for Prospect {{prospect.Name}} </h4>
                </div>
                <div class="modal-body">
                    <div class = "form-group">
                        <label for = "query"> Question:

                        </label>

                        <input type = "text" id = "query" name = "query" ng-model = "query" class = "form-control" placeholder="Add your question here">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" ng-click="addDiscussion()" data-dismiss="modal"> Add </button>
                </div>
            </div>

        </div>
    </div>
</section>

